/* Seteo */
/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/* Estilos al body y a los elementos contenidos por este*/
.grad {
  background: linear-gradient(to bottom right, #6e4a74 20%, #df0c8f);
}

.vh100 {
  height: 100vh;
}

.white-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-logo-container img {
  width: 40vw;
}
