/* Seteo */
/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/* Estilos al body y a los elementos contenidos por este*/
.grad {
  background: linear-gradient(to bottom right, #6e4a74 20%, #df0c8f);
}

.vh100 {
  height: 100vh;
}

.white-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-logo-1 {
  width: 40vw;
}

/* Hoja de estilos para el archivo html register */

/* Estilos al body y a los elementos contenidos por este*/

.background-image {
  background-image: url('../assets/images/hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.white-logo-2 {
  width: 20vw;
}

/* Estilos a los botones */

.btns-register {
  color: white;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 1.2em;
  padding: 17.5px 28px;
  margin: 0 0.5vw;
}

.flex-container-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 70vh;
}

/* Hoja de estilos para el archivo html signup */

/* Estilos a la primera secci贸n */

.first-section-signup {
  border-bottom: 3px solid #eee;
}

.container-icon {
  display: inline-block;
  width: 5%;
}

.icon-button {
  border-radius: 50%;
  border: 2px solid #000;
  font-size: 1.5em;
  padding: 0px 5px;
  margin-top: 0.7em;
}

.icon-button:hover, .icon-button:active:hover, .icon-button:visited {
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.arrow-left {
  padding-top: 0.1em;
}

.container-title {
  display: inline-block;
  width: 88%;
}

.main-title-signup {
  font-size: 2.1em;
  margin-top: 15px;
}

.main-title-paragraph {
  font-size: 1.2em;
  margin-top: 0.4em;
}

/* Estilos a la secci贸n del formulario*/

.phone-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  height: 8vh;
  width: 35vw;
  border: 1px solid #000;
}

.input-container {
  display: inline-block;
  border: 1px solid #000;
  height: 9vh;
  width: 45vw;
}

.input-phone-number {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #adadad;
  width: 85%;
  line-height: 48px;
}

.send-text {
  font-weight: 500;
  font-size: 1.2em;
}

/* Estilos a la  secci贸n del bot贸n NEXT */

.third-section .btn-default.active {
  background-color: #df0c8f;
  color: #fff;
  border: 1px solid #df0c8f;
  border-radius: 0;
  height: 13vw;
}

.third-section .btn-default.active[disabled] {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.third-section .btn-default.active:hover, .third-section .btn-default.active:focus {
  background-color: #fff;
  color: #df0c8f;
  border: 1px solid #fff;
  outline: 0;
}

.third-section .btn-default.active[disabled]:hover {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.active-button:visited {
  background-color: #df0c8f;
  color: #fff;
  border: 1px solid #df0c8f;
}
