<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lyft App</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="vh100">
    <!-- Contenido del website -->
    <main>
      <!-- Sección del logo -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="first-section-signup">
                <div class="container-icon">
                  <a href="verify.html" type="button" class="btn btn-default icon-button">
                    <span class="glyphicon glyphicon-menu-left arrow-left" aria-hidden="true"></span>
                  </a>
                </div>
                <div class="container-title text-center">
                  <h1 class="main-title-signup">Sign up</h1>
                </div>
                <p class="main-title-paragraph-2 text-center">Join now for free ride credit</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sección del formulario -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sección del botón -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 third-section">
              <button type="button" class="btn btn-default btn-lg btn-block active active-button" id="next-button" disabled>NEXT</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
  </body>
</html>
